@page "/counter"
@using BlazorHelloWorld.Client.Services
@inject CounterState CounterState
@implements IDisposable
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<App> Localizer

<PageTitle>@Localizer["Counter"]</PageTitle>

<h1>@Localizer["Counter"]</h1>

<p role="status">@Localizer["Current count"]: @CounterState.CurrentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">@Localizer["Click me"]</button>

@code {
    protected override void OnInitialized()
    {
        CounterState.OnChange += StateHasChanged;
    }

    private void IncrementCount()
    {
        CounterState.IncrementCount();
    }

    public void Dispose()
    {
        CounterState.OnChange -= StateHasChanged;
    }
}
